<div class="list row">
  <div class="col-md-6">
    <h4>Device List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let device of devices; let i = index"
        [class.active]="i == currentIndex"
        (click)="setAsActiveDevice(device, i)"
      >
        {{ device.name }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentDevice.id">
      <h4>Device</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentDevice.name }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentDevice.description }}
      </div>

      <a class="badge badge-warning" routerLink="/device/{{ currentDevice.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentDevice">
      <br />
      <p>Please click on a device...</p>
    </div>
  </div>
</div>
