<div>
  <div class="submit-form">
    <div *ngIf="!created">
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="device.name"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="device.description"
          name="description"
        />
      </div>

      <button (click)="createDevice()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="created">
      <h4>Device was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newDevice()">Add</button>
    </div>
  </div>
</div>
